{% extends 'destino/index.html' %}

{% block content_destino %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for categoria in categorias %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Imagen del destino-->
                        <img class="card-img-top" src={{ categoria.foto }} alt="..." />
                        <!-- Detalles-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Nombre del destino-->
                                <h5 class="fw-bolder">{{ categoria.nombre }}</h5>
                                <!-- Departamento del destino-->
                                <p class="fst-italic">{{ categoria.departamento }}</p>
                            </div>
                            <div class="text-sm-left">
                                <!-- Descripción del destino-->
                                <p class="fs-7">{{ categoria.descripcion }}</p>
                            </div>

                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-2 pt-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Cotizar</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="{% url 'destino:index' %}">Regresar a página principal de destinos</a><br><br>  
        </div>
    </section>

{% endblock content_destino %}